################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ConexionMQTTGELACC/.vs/ConexionMQTTGELACC/v16
/ConexionMQTTGELACC/My Project
/ConexionMQTTGELACC/obj/Debug
/ConexionMQTTGELACC/bin/Debug
